<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>简历详情</title>
	</head>
	<body>
		<h1>简历详情</h1>
		<table border="1px" cellspacing="0px" width="400px">
			<tr>
				<td>姓名</td>
				<td></td>
				<td>性别</td>
				<td></td>
			</tr>
			<tr>
				<td>年龄</td>
				<td></td>
				<td>籍贯</td>
				<td></td>
			</tr>
			<tr>
				<td>联系方式</td>
				<td></td>
				<td>求职意向</td>
				<td></td>
			</tr>
			<tr>
				<td>联系方式</td>
				<td></td>
				<td>学历</td>
				<td></td>
			</tr>
			<tr>
				<td colspan="4">工作经验</td>
			</tr>
			<tr>
				<td colspan="4"></td>
			</tr>
		</table>
	</body>
</html>
