<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<input type="text" v-model="n1" name="" id="" value="" />
			<select v-model="opt">
				<option value="+">+</option>
				<option value="-">-</option>
				<option value="x">x</option>
				<option value="/">/</option>
			</select>
			<input type="text" v-model="n2" name="" id="" value="" />
			<input type="button" value="=" @click="calc" name="" id="" value="" />
			<input type="text" v-model="result" name="" id="" value="" />
		</div>
		<script type="text/javascript">
			var vm = new Vue({
				el: '#app',
				data: {
					n1: 0,
					n2: 0,
					result: 0,
					opt: '+'
				},
				methods: {
					calc() {
						switch (this.opt) {
							case '+':
								this.result = parseInt(this.n1) + parseInt(this.n2);
								break;
							case '-':
								this.result = parseInt(this.n1) - parseInt(this.n2);
								break;
							case 'x':
								this.result = parseInt(this.n1) * parseInt(this.n2);
								break;
							case '/':
								this.result = parseInt(this.n1) / parseInt(this.n2);
								break;
						}
					}
				}
			})
		</script>
	</body>
</html>
